.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color:rgb(54, 54, 54) ;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 30px;
    
  }
  
  
  .column.side {
    width: 25%;
    text-align: center;
  }
  
  #text {
      text-align:left;
      color:rgb(102, 102, 102);
      padding-right: 10%;
  }
 
  .column.middle {
    width: 50%;
    text-align: center;
  }
  

  .row:after {
    content:"";
    display: table;
    clear: both;
  }
  
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }}